@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;900&family=Montserrat:ital,wght@0,400;0,800;1,400&display=swap');

:root {
    --botonPrincipal: #38b6ff;
    --botonPrincipal: #38b6ff;
    --colorBase: #4b7ab0;
    --colorFooter: #0b305a;
    --TitulosDark: #181631;
    --TitulosLight: #ececf3;
    --TitulosLightSoft: #dedcf1;
    --Parrafos: #717076;
    --textoColor: #2562a8;
    --fontPrincipal: 'Montserrat', sans-serif;
    --fontTitulos: 'League Spartan', sans-serif;
    --backgroundBodyColor: #ebebeb;
    --backgroundInstituFoot: #F6F6F6;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

main {
    background-color: var(--backgroundBodyColor);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem 0rem 4rem;
    height: 80px;
    background-color: var(--colorBase);
}
.verifyWpp{
    padding-right: .3rem;
}
.imageVerify{
    position: relative;
    bottom: 1px;
    width: 15px;
}
.boxLogo img {
    height: 50px;
}

.nav-item {
    padding: 0 1rem;
}

.nav-item a {
    font-family: var(--fontTitulos);
    color: var(--TitulosLight);
}

ul.dropdown-menu {
    background-color: var(--colorFooter);
}

.dropdown-item {
    font-family: var(--fontTitulos);
    color: var(--TitulosLight);
}

/* ----------BOLSA------------------ */
.valoresBolsa {
    height: 3rem;
    background-color: var(--colorFooter);
}

.hr-dolar {
    border: 3px solid rgb(37, 183, 196);
}

/* ------------MAIN----------- */
/* ---------------------------------- */
.cards-info a{
  text-decoration: none;
}
.subtitleOne-text {
    padding: 2rem 10rem;
    font-family: var(--fontTitulos);
    font-weight: 600;
    font-size: 3em;
}

.subtitleOne-text span:first-of-type {
    color: var(--TitulosDark);
}

.subtitleOne-text span:nth-of-type(2) {
    color: var(--textoColor);
}

.subtitleOne-text span:not(:first-of-type):not(:nth-of-type(2)) {
    color: var(--Parrafos);
}

.valoresDolar {
    display: flex;
    justify-content: space-around;
    background-color: var(--TitulosDark);
}

.odenDolares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.odenDolares h5 {
    position: relative;
    top: .4rem;
    font-size: 1.2em;
    font-family: var(--fontTitulos);
    color: var(--TitulosLight);
}

.odenDolares span {
    position: relative;
    bottom: .4rem;
    font-size: 1em;
    font-family: var(--fontPrincipal);
    color: var(--colorBase);
    font-weight: bold;
}

#horarioDolar {
    background-color: var(--colorBase);
    text-align: center;
    font-family: var(--fontPrincipal);
    font-size: .8em;
    color: var(--TitulosLightSoft);
}

#horarioDolar span {
    color: var(--TitulosLight);
}

.cards-info {
    margin: 0 2 rem;
    display: flex;
    justify-content: space-evenly;
}

.card {
    box-shadow: 1px 2px 10px #77899d;
}

.card h5 {
    font-family: var(--fontTitulos);
    color: var(--textoColor);
}

.card p {
    font-family: var(--fontPrincipal);
    font-style: italic;
    color: var(--Parrafos);
}

.subtitleTwo-text {
    padding: 2rem 10rem;
    text-align: center;
    color: var(--Parrafos);
    font-family: var(--fontTitulos);
}

/* ---------------------------------- */
/* ----------SECCION COMENCEMOS---------- */
/* ---------------------------------- */
.sectionThree {
    background-color: var(--colorBase);
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 3px 8px rgba(99, 115, 193, 0.8);
}

.boxSectionT {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

div.boxSectionT h5 {
    color: var(--TitulosDark);
    font-family: var(--fontTitulos);
}

div.boxSectionT h2 {
    font-family: var(--fontTitulos);
    color: var(--TitulosLight);
    font-weight: 600;
    font-size: 3.7em;
    text-shadow: 2px 2px 10px rgb(47, 47, 86);
}

div.boxSectionT h6 {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-size: 2em;
    color: var(--TitulosLightSoft);
}

div.boxSectionT h4 {
    padding: 1rem 0 0;
}

div.boxSectionT h4 a {
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
    font-family: var(--fontPrincipal);
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--TitulosDark);
    background-color: var(--botonPrincipal);
    border: 4px solid var(--botonPrincipal);
    border-radius: 2rem;
    display: inline-block;
    padding: 10px 20px;
}

div.boxSectionT a:hover {
    box-shadow: inset -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

.imageServiceT {
    width: 36rem;
    height: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

.imageServiceT img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------SECCION CONTENIDOO---------- */
/* ---------------------------------- */
div.boxSectionF h5 {
    color: var(--Parrafos);
    font-family: var(--fontTitulos);
}

div.boxSectionF h2 {
    font-family: var(--fontTitulos);
    color: var(--textoColor);
    font-weight: 600;
    font-size: 2.3em;
    text-shadow: 2px 2px 10px rgb(172, 172, 184);

}

div.boxSectionF h6 {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-size: 1.45em;
    color: var(--Parrafos);
}

div.boxSectionF h4 {
    padding: 1rem 0 0;
}

div.boxSectionF h4 a {
    font-family: var(--fontPrincipal);
    font-weight: 700;
    font-size: .8em;
    text-decoration: none;
    color: var(--TitulosDark);
    border: 4px solid var(--botonPrincipal);
    background-color: var(--botonPrincipal);
    border-radius: 2rem;
    display: inline-block;
    padding: 10px 20px;
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

div.boxSectionF a:hover {
    box-shadow: inset -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

.sectionFive {
    margin-left: 10rem;
    padding-bottom: 2rem;
    display: flex;
}

.hr-us {
    width: 25em;
}

.imageServiceFi {
    width: 60%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

.imageServiceFi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxSectionFi {
    width: 40%;
    margin: 3rem 15rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

div.boxSectionFi h5 {
    color: var(--Parrafos);
    font-family: var(--fontTitulos);
}

div.boxSectionFi h2 {
    font-family: var(--fontTitulos);
    color: var(--textoColor);
    font-weight: 600;
    font-size: 2.3em;
    text-shadow: 2px 2px 10px rgb(172, 172, 184);
}

div.boxSectionFi h6 {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-size: 1.5em;
    color: var(--Parrafos);
}

div.boxSectionFi h7 {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
    color: var(--Parrafos);
}

/* ------------FOOTER----------- */
/* ---------------------------------- */
footer {
    background-color: var(--colorFooter);
}

.subtitle-footer {
    padding: 2rem 0 0;
    display: flex;
    justify-content: center;
    font-family: var(--fontTitulos);
    color: var(--TitulosLightSoft);
    font-size: 2.5em;
    text-shadow: 2px 2px 10px rgb(33, 29, 61);
}

.formulario {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

div.formulario h5 {
    font-family: var(--fontTitulos);
    font-weight: 500;
    font-size: 1.7em;
    color: var(--TitulosLightSoft);
    text-align: end;
}

.form-start {
    display: flex;
    align-items: center;
}

input {
    background-color: var(--textoColor);
    border: 0;
    padding: .4rem 1rem;
    border-radius: 2rem;
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}

::-webkit-input-placeholder {
    color: var(--TitulosLight);
}

:-moz-placeholder {
    color: var(--TitulosLight);
    opacity: 1;
}

::-moz-placeholder {
    color: var(--TitulosLight);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--TitulosLight);
}

::-ms-input-placeholder {
    color: var(--TitulosLight);
}

::placeholder {
    color: var(--TitulosLight);
}

.errores {
    padding: .7rem 0;
}

#parent li {
    padding: .2rem 0;
    position: relative;
    left: -1rem;
}

.errores-push {
    font-family: var(--fontPrincipal);
    font-size: .9em;
    background-color: var(--TitulosDark);
    color: var(--TitulosLight);
    border-radius: 1rem;
    padding: .2rem 1rem;
    border: 2px solid;
}

.danger {
    border: 2px solid red;
}

.pass {
    border: 2px solid green;

}

.send-newsLetter {
    margin-left: 1rem;
    font-family: var(--fontPrincipal);
    font-weight: 700;
    font-size: .8em;
    color: var(--TitulosDark);
    border: 2px solid var(--botonPrincipal);
    border-radius: 2rem;
    display: inline-block;
    padding: 5px 20px;
    box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
    background-color: var(--botonPrincipal);
    padding: .43rem 1rem;
}

.send-newsLetter:hover {
    box-shadow: inset -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
}


.links-footer {
    padding: 4rem 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.order-links-foot {
    display: flex;
}

.second-order-f {
    padding-left: 5rem;
}

div.footer-links a {
    text-decoration: none;
    color: var(--TitulosLightSoft);

}

div.footer-links a:hover {
    text-decoration: none;
    color: var(--botonPrincipal);
}

ul.order-icons {
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
}

.order-icons li {
    padding: 0 1rem;
}

.order-icons i {
    color: var(--botonPrincipal);
}

.instituciones-foot {
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--backgroundInstituFoot);
}

div.instituciones-foot img {
    width: 80%;
}

.copy-text {
    padding: 1rem 0 .5;
    text-align: center;
    color: var(--Parrafos);
    background-color: var(--TitulosLightSoft);
}

@media (max-width: 800px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: -6.3rem;
        z-index: 1000;
        margin-top: 0;
        background-color: var(--textoColor);
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
        padding: 1rem;
    }

    .slider-desktop {
        display: none;
    }

    .first-dol {
        display: none;
    }

    .odenDolares h5 {
        font-size: .65em;
        padding-bottom: .3rem;
    }

    .odenDolares span {
        font-size: .6em;
        text-align: center;
    }

    .subtitleOne-text {
        padding: 1rem 5rem;
        font-size: 1em;
        text-align: center;
    }

    .subtitleOne-text span:nth-of-type(2) {
        font-size: 1.1em;
    }

    .subtitleOne-text span:nth-of-type(3) {
        font-size: .8em;
    }

    .cards-info {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: .7rem 0;
    }

    .subtitleTwo-text {
        padding: 1rem 2rem;
        font-size: 1.3em;
    }

    /* SECTION THREE */
    .sectionThree {
        padding: 2rem;
    }

    div.boxSectionT h5 {
        font-size: 1em;
    }

    div.boxSectionT h2 {
        font-size: 1.5em;
    }

    div.boxSectionT h6 {
        font-size: 1em;
    }

    div.boxSectionT h4 {
        padding: 1rem 0 0;
    }

    div.boxSectionT h4 a {
        font-size: .8em;
    }

    .imageServiceT {
        width: 10rem;
        height: auto;
    }

    /* CUARTOOOOOOOO-------------- */
    .sectionFour {
        padding: 2rem;
        justify-content: center;
        margin-top: 1rem;
    }

    .imageServiceF {
        display: none;
    }

    .boxSectionF {
        text-align: center;
        align-items: center;
    }

    div.boxSectionF h5 {
        font-size: .8em;
    }

    div.boxSectionF h2 {
        font-size: 1.6em;
    }

    div.boxSectionF h6 {
        font-size: 1.2em;
        font-style: italic;
    }

    div.boxSectionF h4 {
        padding: 1rem 0 0;
    }

    div.boxSectionF h4 a {
        font-size: .7em;
        padding: 5px 10px;
    }

    /* ...........QUINTOOOOO............ */
    .sectionFive {
        margin-left: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .about-us-mobile {
        display: none;
    }

    .imageServiceFi {
        width: 60%;
        height: auto;
    }

    .boxSectionFi {
        margin: 1rem 2rem 1rem 0.5rem;
    }

    div.boxSectionFi h5 {
        font-size: .8em;
    }

    div.boxSectionFi h2 {
        font-size: 1em;
    }

    div.boxSectionFi h6 {
        font-size: .6em;
    }

    div.boxSectionFi h7 {
        font-size: .6em;
    }

    .nosotros-mobile {
        font-family: var(--fontTitulos);
        font-size: em;
        color: var(--Parrafos);
        padding: 2rem 0 0;
        text-align: center;
    }

    .hr-us {
        display: none;
    }

    /* ...........FOOTER............ */
    footer {
        padding: 2rem;
    }

    .subtitle-footer {
        padding: 1rem 0 0;
        font-size: 1.5em;
        text-align: center;
    }

    .form-start {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-start div {
        padding: .2rem;
    }

    .formulario {
        padding-top: 2rem;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    div.formulario h5 {
        font-size: 1em;
    }

    .links-footer {
        padding: 4rem 0 0;
        flex-direction: column-reverse;
    }

    .order-icons {
        margin: 0;
        padding: 0 0 1em;
    }

    ul.order-icons {
        font-size: 2em;
    }

    .instituciones-foot {
        display: none;
    }

    .copy-text {
        margin: 0;
        padding: 0;
        color: #717076;
        background-color: var(--colorFooter);
    }

    .errores {
        padding: .7rem 0;
    }

    #parent li {
        padding: .2rem 0;
        position: relative;
        left: -1rem;
    }

    .errores-push {
        font-size: .7em;
    }
}

@media (min-width: 801px) and (max-width: 900px) {

    .subtitleOne-text {
        padding: 2rem 0rem;
        font-size: 1.6em;
        text-align: center;
    }

    .slider-mobile {
        display: none;
    }

    .odenDolares h5 {
        font-size: 1em;
    }

    .odenDolares span {
        font-size: .7em;
    }

    .subtitleOne-text span:nth-of-type(2) {
        font-size: 1em;
    }

    .cards-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card {
        margin: 0 auto;
    }

    .card:last-of-type {
        display: none;
    }

    .subtitleTwo-text {
        padding: 3rem 0 0;
        font-size: 1.3em;
    }

    /* SECTION THREE */
    .sectionThree {
        padding: 2rem;
    }

    div.boxSectionT h5 {
        font-size: 1em;
    }

    div.boxSectionT h2 {
        font-size: 1.5em;
    }

    div.boxSectionT h6 {
        font-size: 1em;
    }

    div.boxSectionT h4 {
        padding: 1rem 0 0;
    }

    div.boxSectionT h4 a {
        font-size: .8em;
    }

    .imageServiceT {
        width: 20rem;
        height: auto;
    }

    /* CUARTOOOOOOOO-------------- */
    div.imageServiceF {
        display: none;
    }

    .sectionFour {
        padding: 2rem 0 0 0;
        margin: 1rem;
    }

    .boxSectionF {
        margin: 0;
        padding: 0;
        align-items: center;
    }

    div.boxSectionF h5 {
        font-size: 1.4em;
    }

    div.boxSectionF h2 {
        text-align: center;
        font-size: 1.7em;
    }

    div.boxSectionF h6 {
        text-align: center;
        font-size: .8em;
        font-style: italic;
    }

    div.boxSectionF h4 {
        padding: 1rem 0 0;
    }

    div.boxSectionF h4 a {
        font-size: .7em;
        padding: 5px 10px;
    }

    /* ...........QUINTOOOOO............ */
    .sectionFive {
        margin-left: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .about-us-mobile {
        display: none;
    }

    .imageServiceFi {
        width: 60%;
        height: auto;
    }

    .boxSectionFi {
        margin: 1rem 2rem 1rem 0.5rem;
    }

    div.boxSectionFi h5 {
        font-size: 1em;
    }

    div.boxSectionFi h2 {
        font-size: 1.2em;
    }

    div.boxSectionFi h6 {
        font-size: .9em;
    }

    div.boxSectionFi h7 {
        font-size: .8em;
    }

    .nosotros-mobile {
        font-family: var(--fontTitulos);
        font-size: em;
        color: var(--Parrafos);
        padding: 2rem 0 0;
        text-align: center;
    }

    .hr-us {
        display: none;
    }

    /* ...........FOOTER............ */
    footer {
        padding: 2rem;
    }

    .subtitle-footer {
        padding: 1rem 0 0;
        font-size: 1.5em;
        text-align: center;
    }

    .formulario {
        justify-content: space-evenly;
        flex-direction: column;
    }

    div.formulario h5 {
        font-size: 1em;
    }

    .links-footer {
        padding: 4rem 0 0;
        flex-direction: column-reverse;
    }

    .order-icons {
        margin: 0;
        padding: 0 0 1em;
    }

    ul.order-icons {
        font-size: 2em;
    }

    .instituciones-foot {
        display: none;
    }

    .copy-text {
        margin: 0;
        padding: 0;
        color: #717076;
        background-color: var(--colorFooter);
    }
}

@media (min-width: 800px) {

    .brOneText {
        display: none;
    }

    .nosotros-mobile,
    .nosotros-mobile-hr {
        display: none;
    }

    .px-2 {
        padding-bottom: 2rem;
    }

    .sectionFour {
        padding: 2rem 10rem 3rem 0;
        display: flex;
    }

    .imageServiceF {
        width: 70%;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -2px 7px 15px -3px rgba(0, 0, 0, 0.75);
    }

    .imageServiceF img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .boxSectionF {
        width: 40%;
    }

    .boxSectionF {
        margin: 3rem 0 3rem 15rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }

    .formulario {
        padding: 2rem 4rem 0;
    }

}


.slide-contenedor {
    max-width: 100%;
    max-height: 720px;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(39, 36, 36);
    box-shadow: -7px 10px 22px -8px rgba(0, 0, 0, 0.9);
    margin-bottom: 1rem;
}

.direcciones {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.direcciones a:hover {
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.barra {
    cursor: pointer;
    height: 2px;
    width: 25px;
    margin: 0 2px;
    background: rgba(162, 162, 162, 0.5);
    ;
    display: inline-block;
    margin-left: 3px;
}

.miSlider {
    transition: opacity 0.5s ease-in-out;
}

.active {
    background-color: #255aaf;
}

.fade {
    animation-name: fade;
    animation-duration: 4.5s;
}

@keyframes fade {
    0% {
        opacity: .8;
    }

    20% {
        opacity: .9;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.miSlider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}