@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;900&family=Montserrat:ital,wght@0,400;0,800;1,400&display=swap');

:root {
  --botonPrincipal: #38b6ff;
  --botonPrincipal: #38b6ff;
  --colorBase: #4b7ab0;
  --TitulosDark: #181631;
  --colorFooter: #0b305a;
  --TitulosLight: #ececf3;
  --TitulosLightSoft: #dedcf1;
  --Parrafos: #717076;
  --textoColor: #2562a8;
  --fontPrincipal: 'Montserrat', sans-serif;
  --fontTitulos: 'League Spartan', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #181631;
}

main {
  background-color: #ebebeb;
  margin: .5rem 5rem;
  box-shadow: 3px 3px 8px gray;
  border-radius: 0 8rem 0 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem 0rem 4rem;
  height: 80px;
  background-color: var(--colorBase);
}

.boxLogo img {
  height: 50px;
}

.nav-item {
  padding: 0 1rem;
}

.nav-item a {
  font-family: var(--fontTitulos);
  color: #ffffff;
}

ul.dropdown-menu {
  background-color: #183658;
}

.dropdown-item {
  font-family: var(--fontTitulos);
  color: #fff;
}

.orderHeader {
  margin: 0 5rem;
  padding: 0 0 1rem;
}

.title-titulo {
  font-family: var(--fontTitulos);
  font-weight: 600;
  color: var(--Parrafos);
  padding: 2rem 0 0;
  text-align: center;
}

.title-parrafo {
  font-family: var(--fontPrincipal);
  font-weight: 500;
  color: var(--Parrafos);
  text-align: center;
}

.card {
  box-shadow: 2px 3px 8px rgba(138, 141, 152, 0.8);
}

.card-body h5 {
  font-family: var(--fontTitulos);
  color: var(--textoColor);
}

.card-body p {
  font-family: var(--fontPrincipal);
  color: var(--Parrafos);
  font-style: italic;
}

.cintaApertura {
  margin-top: .5rem;
  background-color: var(--colorBase);
  padding: 2rem 10rem;
  box-shadow: 1px 2px 8px rgba(60, 63, 74, 0.8);
}

.textCinta {
  font-family: var(--fontTitulos);
}

.textCinta span:first-of-type {
  color: #78cefc;
}

.textCinta span:nth-of-type(2) {
  color: #ffffff;
}

.cintaApertura p {
  font-family: var(--fontPrincipal);
  font-size: 1.4em;
  color: #ebebeb;
  font-style: italic;
}
form{
  margin: .5rem 5rem;
  padding: .5px 2rem 2rem;
  background-color: #0b305a;
  box-shadow: 1px 3px 8px rgb(49, 49, 95);
  border-radius: 0 0 0 10rem;  
}
.form-header{
  font-family: var(--fontTitulos);
  font-weight: 900;
}



@media (max-width: 800px) {
  
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: -6.3rem;
    z-index: 1000;
    margin-top: 0;
    background-color: var(--textoColor);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
  }

  .orderHeader {
    margin: 0 2rem;
  }

  .cintaApertura {
    background-color: var(--colorBase);
    padding: 2rem 2rem 1rem;
  }

  .cintaApertura p {
    font-size: 1em;
  }

  .card-body h5 {
    font-size: .9em;
  }

  .card-body p {
    font-size: .6em;
  }

  .cardsDsktop {
    display: none;
  }
  form{
    margin: 0rem .5rem;
    padding: 0px .5rem 2rem;
    border-radius: 0 0 0 2rem;  
  }
  main {
    margin: .5rem .5rem;
    border-radius: 2rem 2rem 0 0;
  }
  .header-large h1.form-header {
    font-size: 2em;
  }


}

@media (min-width: 800px) {
  .cardsMobile {
    display: none;
  }
  .header-large h1.form-header {
    font-size: 4em;
  }
}